/* main.css */
body{
  background: #F7F7F7;
  margin: 0 0;
  padding: 0 0;
  font-family: 'Quicksand', sans-serif;
}

.container{
  padding: 0 1%;
  max-width: 900px;
  margin: 0 auto;
}  /* This class is supposed to act like Bootstrap's "container" class */

.section-title{
  font-size: 2em;
  font-weight: 700;
  margin: 0 0;
  padding: 1% 2%;
}




/* CSS settings for the header/nav (top of the page) */
header{
  width: 100%;
  padding: 1px 0 1px 0;
  text-align: center;
}

header a{
  color: #000000;
  text-decoration: none;
}

header a:hover{
  color: #2C8C99;
}

header #logo{
  font-family: 'Capriola', sans-serif;
  font-size: 2em;
}

header ul{
  padding: 0 0;
}

header li{
  display: inline;
  padding: 0 5px 0 5px;
}

header hr{
  width: 90%;
}

#intro-text{
  font-size: 1.20em;
  margin: 30px 0;
  padding: 0 2%;
}


/* CSS for "About" page */
#about-section hr{
  width: 90%;
}

#about-section{
  text-align: center;
}

.flexy-row .prof-pic{
  max-width: 300px;
  border-radius: 50%;
}

.flexy-row div{
  padding: 2% 2%;
}

.flexy-row .block-one{
  flex: 1.5;
  order: 1;
}

.flexy-row .block-two{
  flex: 2;
  order: 2;
}

#tech-logo-section{
  margin: 20px 0 0 0;
}

#tech-logos-section img{
  width: 25%;
}



/* CSS for the project blocks */
.project-block{
  margin: 0 0 5% 0; /* Space apart the project-blocks vertically */
}

.project-block-component{
  margin: 0 auto;  /* Centers the image with its caption w/ respect ot the page */
  width: 95%;
  background-color: #cdcdcd;
}

.project-block-component img{
  width: 100%;
  display:block; /* Gets rid off odd spacing put under images by HTML */
  border-radius: .75%;
}

.project-block-description hr{
  width: 80%;
}

.project-block-description div{
  padding: 3% 3%; /* Spaces apart each of the caption items */
}

.description-title{
  font-size: 1.5em;
  font-weight: 700;
}

.description-buttons a{
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
  background-color: #F58F29;
  color: #000000;
  padding: 4px;
}

.description-buttons a:hover{
  background-color: #00417A;
  color: #F58F29;
}

.tech-item{
  border-radius: 3px;
  background-color: white;
  padding: 1% 1%;
}



/* Footer styling */
footer{
  display: flex;
  justify-content: space-between;
  margin: 8% 2%;
  font-size: .95em;
}

.tm{
  font-family: 'Capriola', sans-serif;
}



/* Media query for larger-screens */
@media(min-width: 768px){
  .section-name{
    font-size: 28px;
  }

  header .container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
  }

  .project-block{
    margin: 2% 0;
    display: flex;
  }

  .project-block-component{
    width: 45%;
    flex: 1;
  }


  .project-block-component img{
    width: 95%;
    padding: 2% 2%;
    display:block;
  } /* Having the thumbnail be enveloped by the gray background on large screens */

  #about-section{
    text-align: left;
  }

  .flexy-row{
    display: flex;
  }

  #tech-logos-section img{
    width: 10%;
  }

  #intro-text,
  .section-title{
    padding: 1% 0;
  }


  footer{
    display: flex;
    justify-content: space-between;
    margin: 8% 0 5% 0;
    font-size: 1em;
  }


}
