/* main.css */
body{
  background: #F7F7F7;
  margin: 0 0;
  padding: 0 0;
  font-family: 'Lato', sans-serif;
}

.container{
  padding: 0 1%;
  max-width: 900px;
  margin: 0 auto;
}  /* This class is supposed to act like Bootstrap's "container" class */

.section-title{
  font-size: 1.75em;
  font-weight: 600;
  margin: 0 0;
  padding: 1% 2%;
}




/* CSS settings for the header/nav (top of the page) */
header{
  width: 100%;
  padding: 1px 0 1px 0;
  text-align: center;
}

.nav-item{
  color: #000000;
  text-decoration: none;
}

.nav-item:hover{
  color: #00417A;
}

.logo{
  font-family: 'Capriola', sans-serif;
  font-size: 2em;
  padding: 0 0;
}

.navbar ul{
  padding: 0 0;
}

.navbar ul li{
  display: inline;
  padding: 0 5px 0 5px;
}

hr{
  width: 90%;
}



/* Styling for the index.html page */
.intro-text{
  font-size: 1.10em;
  margin: 30px 0;
  padding: 0 2%;
}


/* Styling for the project blocks on the index.html page */
.project-block{
  margin: 0 0 5% 0; /* Space apart the project-blocks vertically */
}

.project-block-component{
  margin: 0 auto;  /* Centers the image with its caption w/ respect ot the page */
  width: 95%;
  background-color: #cdcdcd;
}

.project-block-component img{
  width: 95%;
  display: block; /* Gets rid off odd spacing put under images by HTML */
  padding: 2% 2%;
}

.description-title,
.description-text,
.description-buttons,
.description-tech{
  padding: 5px 10px; /* Spaces apart each of the caption items */
}

.description-title{
  font-size: 1.5em;
  font-weight: 600;
}

.description-buttons a{
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  background-color: #F58F29;
  color: #000000;
  border-radius: 3px;
  padding: 2px;
} /* This targets the actual buttons themselves */

.description-buttons a:hover{
  background-color: #00417A;
  color: #F58F29;
} /* This targets the actual buttons themselves */

.tech-item{
  border-radius: 3px;
  background-color: white;
  padding: 2px;
}





/* CSS for "About" page */
#about-section{
  text-align: center;
}

.flexy-row .prof-pic{
  max-width: 300px;
  border-radius: 50%;
}

.flexy-row div{
  padding: 2% 2%;
}

.flexy-row .block-one{
  flex: 1.5;
  order: 1;
}

.flexy-row .block-two{
  flex: 2;
  order: 2;
}

#tech-logo-section{
  margin: 20px 0 0 0;
}

#tech-logos-section img{
  width: 25%;
}






/* Footer styling */
footer{
  display: flex;
  justify-content: space-between;
  margin: 8% 2%;
  font-size: .95em;
}

.tm{
  font-family: 'Capriola', sans-serif;
}



/* Media query for larger-screens */
@media(min-width: 768px){
  .section-name{
    font-size: 28px;
  }

  header .container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
  }

  .project-block{
    margin: 2% 0;
    display: flex;
  }

  .project-block-component{
    width: 45%;
    flex: 1;
  }

  .description-title,
  .description-text,
  .description-buttons,
  .description-tech{
    padding: 8px 10px; /* Spaces apart each of the caption items */
  }

  #about-section{
    text-align: left;
  }

  .flexy-row{
    display: flex;
  }

  #tech-logos-section img{
    width: 10%;
  }

  #intro-text,
  .section-title{
    padding: 1% 0;
  }


  footer{
    display: flex;
    justify-content: space-between;
    margin: 8% 0 5% 0;
    font-size: 1em;
  }


}
