/* main.css */
body{
  background: #FAF1E6;
  margin: 0 0;
}

.section-container{
  max-width: 1200px;
  margin: auto;
}  /* This class is supposed to act like Bootstrap's "container" class */

.section-name{
  font-size: 22px;
}

#project-section,
#about-section,
#welcome-section,
#contact-section,
header ul{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}


/* CSS settings for the header/nav (top of the page) */
header{
  width: 100%;
  padding: 1px 0 1px 0; /* We need at least a bit of padding to make the navbar connected to the jumbotron */
  background: #2D2E2E;
  color: #FFFFFF;
}

header a{
  color: white;
  text-decoration: none;
}

header a:hover{
  color: #2C8C99;
}

header #logo{
  text-align: center;
  font-family: 'Capriola', sans-serif;
  font-size: .75em;
}

header ul{
  padding: 0 0;
}

header li{
  display: inline;
  padding: 0 5px 0 5px;
}


/* CSS styling for the "About Me" section */
#welcome-section{
  padding: 20px 2%;
}

#jumbotron{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2C8C99;
  height: 50vh;
}

.jumbotron-content{
  font-family: 'Quicksand', sans-serif;
  text-align: center; /* This is probably not best practice, but I used a mixture of #jumbotron's flexbox properties and this element's margin property to horizontally and vertically center the jumbotron text within the jumbotron */
}

.jumbotron-text{
  font-size: 1.5em;
  font-weight: 800;
}

.jumbotron-content a{
  text-decoration: none;
  color: black;
}

.jumbotron-button{
  font-weight: 600;
  border-radius: 6px;
  border: 3px solid white;
  padding: 6px;
  transition: background 0.5s ease;
}

.jumbotron-button:hover{
  background: white;
}


/* CSS for "About" page */
#about-section hr{
  width: 80%;
}

#about-section .flexy-row .prof-pic{
  max-width: 300px;
  border-radius: 50%;
}

#about-section .flexy-row .about-section-block{
  padding: 15px;
}

#about-section .flexy-row .block-one{
  flex: 1.5;
  order: 1;
}

#about-section .flexy-row .block-two{
  flex: 2;
  order: 2;
}


/* CSS styling for the "Projects" section */



/* CSS styling for the "Contact Me" section */



/* CSS for the photogrids */
.photogrid .image-block{
  display: block;
  position: relative;
  overflow: hidden;
}  /* These properties are necessary to make sure the addition of "invisible" captions do not disrupt the flow and positioning of the other elements on the page */

.photogrid .image-block a img{
  width: 85%;
  border-radius: 3%;
  margin: 0 0 4% 0;
}

.photogrid .image-block .caption-text{
  position: absolute;
  color: #FFFFFF;
  background: #2C8C99;
  left: 7.5%;   /* left and bottom used to position the hover-in caption properly */
  bottom: 6.5%;
  width: 85%;   /* Width (size) of the hover-in caption needs to be equal to the width of the thumbnail itself */
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.photogrid .image-block:hover .caption-text{
  opacity: 1;
}  /* We get the image caption to appear on hover by setting its opacity to 0 originally and to 1 when hovered over */






/* Media query for larger-screens */
@media(min-width: 768px){
  .section-name{
    font-size: 28px;
  }

  #about-section .section-container .flexy-row,
  header .section-container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
  }


  /* Jumbotron for large screens */
  #jumbotron{
    height: 70vh;
  }

  .jumbotron-text{
    font-size: 3em;
  }


  /* Photo grids on large screens */
  .photogrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image-block{
    width: 33%;
  }

  .photogrid .image-block .caption-text{
    left: 5%;
  } /* Need to adjust the left-positioning of the hover-in captions, because the size of the grids on large-screens is a little bit larger */

  .photogrid .image-block a img,
  .photogrid .image-block .caption-text{
    width: 90%;
  }
}
